<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="toggleSidebar()">
                Transfeera
                <span class="menu-icon fa fa-bandcamp"></span>
            </a>
        </li>
        <li class="sidebar-title"><span>Menu</span></li>                
        <li class="sidebar-list">
            <a href="#/states">Estados</a>
            <a href="#/cities">Cidades</a>
            <a href="#/ceps">CEPs</a>
        </li>        
    </ul>
</div>