<rd-widget>
  <rd-widget-header icon="fa-user-plus" title="{{(state.id != undefined ? 'Editar' : 'Cadastro')}} Estado"></rd-widget-header>
  <rd-widget-body>
    <form ng-submit="state_form.$valid && (state.id != undefined ? update(state) : create(state))" class="form-horizontal"
      name="state_form" novalidate>      
      <div class="row">
        <div class="col-md-12">
          <label>Nome</label>
          <input type="text" class="form-control" placeholder="Nome" name="name" ng-model="state.name" required>
          <p class="danger-block" ng-show="state_form.$submitted && state_form.name.$invalid">Nome do estado é obrigatório.</p>
        </div>
      </div>      
      <div class="row">
        <div class="col-md-10">
          <input class="btn btn-success" type="submit" ng-value="state.id != undefined ? 'Atualizar' : 'Cadastrar'">
          <input class="btn btn-danger" ng-click="ngDialog.close()" type="button" value="Cancelar">
        </div>
      </div>
    </form>
  </rd-widget-body>
</rd-widget>